

<%title = "The Blog Center | POSTS" %>

<%- include('partials/header.ejs')%>

<div  class="container">
   <h2> <%= post %> </h2>
   <p> <%= comm %> 

    </p>
    <p>posted by <%= user %> on <%= pd %> </p>
  
</div>

<%- include('partials/footer.ejs') %>