<%title = "The Blog Center | POSTS" %>

<%- include('partials/header.ejs')%>

<div  class="container">
   
       <h1> <%= post %> </h1>
       <p> <%= comm %> 
    
        </p>
        <p>posted on <%= pd %> </p>
      

  
     
     </p> 
 
       
  

</div>


<%- include('partials/footer.ejs') %>